header {
    background-color: rgb(85, 133, 179);
    text-align: center;
    padding: 20px;
    margin-bottom: 10px;

}

nav {

    display: block;
    font-size: 15px;

    a {
        color: black;
    }

    a:hover {
        background-color: cadetblue;
        color: white;
    }

}

nav a {
    display: block;
    padding: 5px;
    text-align: center;
    text-decoration: none;
}

nav ul {
    padding: 0;
    margin: 0;
}

main {
    width: 75%;
    margin: auto;
}

main#contact-main {
    display: block;
    width: 100%;
}

fieldset {
    margin-bottom: 10px;
    padding: 16px;
    border: 1px solid;
    border-radius: 10px;
    text-align: left;
}

legend {
    font-size: 20px;
    text-align: center;
}

label {
    color: rgb(85, 133, 179);
}

button {
    border-radius: 8px;
}

.center {
    text-align: center;
}


section.border {
    border-color: rgb(85, 133, 179);
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgb(85, 133, 179);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

table th {
    text-align: center;
    padding: 8px;
    font-weight: bold;
    color: #000000;
}

table.center{
    text-align: center;
}

.section {
    background-color: rgb(85, 133, 179);
    padding: 3px;
}

span.emp {
    font-weight: bold;
    color: rgb(97, 23, 97);
}

span.note {
    font-style: italic;
    color: rgb(150, 150, 150);
}


footer {
    background-color: rgb(85, 133, 179);
    padding: 10px;
}