* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    text-align: center;
    background-color: aquamarine;
    padding: 20px;
}

nav {
    text-align: center;

    a {
        display: block;
        text-decoration: none;
        padding: 10px;
    }

    a:hover {
        background-color: #5f9ea0;
        color: aliceblue
    }

    ul {
        padding: 0;
        list-style-type: none;
    }
}

.container {
    width: 75%;
    margin: auto;
}

.info{
    text-align: center;
}

.sub_section{
    border-color: black;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 10px;
}

.head{
    background-color: #5f9ea0;
    padding:5px;
}

span{
    font-weight: bold;
    color: purple;
}

.note{
    color: gray;
    font-style:italic;
    font-weight: normal;
}

table{
    width: 100%;
    background-color: #5f9ea0;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 10px;
}

footer{
    background-color: aquamarine;
    text-align: center;
    color:blueviolet;
    padding:10px;
}

.center{
    text-align: center;
}

legend{
    font-size: 20px;
}

fieldset{
    border-radius: 10px;
    margin-bottom: 10px;
}

label{
    font-weight: bold;
    color: coral;
}

button{
    border-radius: 8px;
}